html {
    scroll-behavior: smooth;
  }

*{
    box-sizing: border-box;
}

body{
    margin: 10px 20px;
    font-family: 'Doris', sans-serif;
    background-color: #24103a;
}

.main{
    background-image: url(images/pixel1.png);
    width: 100%;
    min-height: 97.5vh;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    color: #e1e4d5;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 10px;
}

 /*
 <============= SCROLL BAR ===============>
 */
::-webkit-scrollbar {
    width: 6px;
  }
::-webkit-scrollbar-track {
    background: #24103a;
  }
::-webkit-scrollbar-thumb {
    background: rgb(71, 8, 165); 
  }
::-webkit-scrollbar-thumb:hover {
    background: rgb(71, 8, 165); 
  }
 /*
 <============= HEADER ===============>
 */
 
.header_container,
.logo,
.nav,
.nav_list,
.main_desc{
    display: flex;
    justify-content: center;
    align-items: center;
}

.center{
    display: flex;
    justify-content: center;
}

.header_container{
    border-radius: 10px;
    position: fixed;
    width: 85%;
    background-color: transparent;
}

.logo{
    cursor: pointer;
    margin: 20px auto auto 20px;
    min-height: 50px;
    flex-direction: column;
    justify-content: center;
}

#logo_img{
    width: 50px;
    border-radius: 50%;
    transition: transform 250ms;
}

#logo_img:hover{
    transform: scale(1.05);
}

a:hover{
    cursor: pointer;
}

.nav{
    width: 400px;
    height: 100px;
    flex-direction: column;
    justify-content: center;
}

.nav_list{
    justify-content: space-around;
    width: 90%;
}

.nav_item{
    font-size: 20px;
    font-weight: lighter;
    list-style-type: none;
    transition: transform 250ms;
}

a{
    color:inherit;
    text-decoration: none;
}

.nav_item:hover{
    transform: scale(1.05);
    text-decoration-line: underline;
}

 /*
 <============= MAIN BODY ===============>
 */

 .main_container{
    height: 94.5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

 .main_desc{
    margin-left: 6.5%;
    flex-direction: column;
    max-width: 600px;
    min-height: 500px;
    align-items: flex-start;
 }

.main_body_subtext,
.main_body_text{
    text-align: left;
    font-family: inherit;
}

 .main_body_text{
    display: flex;
    flex-direction: column;
    align-content: center;
    font-size: 40px;
    font-weight: 800;
 }

#name{
    color: rgb(84, 127, 196);
}

 .main_body_subtext{
    min-height: 80px;
    font-size: 17px;
    font-weight: 200;
 }

 #main_body_text_one{
    font-size: 20px;
 }

 #main_body_text_three{
    font-size: 30px;
 }

.personal_links{
    margin: 50px 30px 0 0;
    display: flex;
}

 .personal_links_logo{
    margin-right: 10px;
    width: 25px;
 }
 
 /*
 <============= PAGE 2 ===============>
 */

 #myWork{
    background-image: url(images/pixel2.jpg);
 }

  /*
 <============= PAGE 3 ===============>
 */

 #aboutMe{
    background-image: url(images/pixel3.jpg);
 }

 .aboutMeContainer{
    width: 80%;
    margin: 80px auto 0 auto;
    height: 70vh;
    padding: 50px;
 }

 .aboutMeName{
    font-size: 50px;
    text-shadow: 5px 5px 5px black;
    text-align: center;
 }

 .aboutMeBody{
    height: 100%;
    display: flex;
    justify-content:center;
    align-items: flex-start;
 }
 
.aboutMePara{
    height: 100%;
    width: 60vh;
}

.aboutMePara ul{
    list-style: none;
}

.aboutMeBody li{
    margin-bottom: 1em;
}

.aboutMeDetails{
    margin-top: 1em;
    height: 100%;
    width: 30vh;
    text-align: center;
}

   /*
 <============= PAGE 3 ===============>
 */

 #contactMe{
    background-image: url(images/pixel4.gif);
 }
